<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>WebUtilsExamples</display-name>
	
	<filter>
		<filter-name>multipartFilter</filter-name>
		<filter-class>
			org.mikha.utils.web.multipart.MultiparFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<description>
			Servlet that demonstrates form parsing
		</description>
		<display-name>FormsServlet</display-name>
		<servlet-name>FormsServlet</servlet-name>
		<servlet-class>
			org.mikha.utils.web.examples.FormsServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet that demonstrates messages</description>
		<display-name>MessagesServlet</display-name>
		<servlet-name>MessagesServlet</servlet-name>
		<servlet-class>
			org.mikha.utils.web.examples.MessagesServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
			Servlet that demonstrates internationalization
		</description>
		<display-name>I18nServlet</display-name>
		<servlet-name>I18nServlet</servlet-name>
		<servlet-class>
			org.mikha.utils.web.examples.I18nServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet that demonstrates redirect</description>
		<display-name>RedirectServlet</display-name>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>
			org.mikha.utils.web.examples.RedirectServlet
		</servlet-class>
	</servlet>
    <servlet>
        <description>Servlet that demonstrates Log4J support</description>
        <display-name>Log4JServlet</display-name>
        <servlet-name>Log4JServlet</servlet-name>
        <servlet-class>
            org.mikha.utils.web.log4j.Log4jServlet
        </servlet-class>
    </servlet>
	
	<servlet-mapping>
		<servlet-name>FormsServlet</servlet-name>
		<url-pattern>/forms/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessagesServlet</servlet-name>
		<url-pattern>/messages/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>I18nServlet</servlet-name>
		<url-pattern>/i18n</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log4JServlet</servlet-name>
        <url-pattern>/log4j/*</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
