<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <param name="Threshold" value = "info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1}: %m%n" />
        </layout>
    </appender>

    <appender name="in-memory" class="org.mikha.utils.log4j.InMemoryAppender">
        <param name="Size" value="2048" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1}: %m%n" />
        </layout>
    </appender>

    <logger name="org.mikha.utils.web.log4j.Log4jServlet">
        <level value="ALL" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="in-memory" />
    </root>

</log4j:configuration>